<p class="test">Ciao dal componente welcome</p>
<h1>Login</h1>
<p>
  <label for="login">Username</label>&nbsp;
  <input type="text" name="login" [(ngModel)]="login" />
  <br />
  <label for="password">Password</label> &nbsp;
  <input type="text" name="password" [(ngModel)]="password" />
</p>
<p>{{ statoLogin }}</p>
<p>{{ clienteM?.cognome }}</p>
<button (click)="verifica()">Effettua il login</button><br />
<button (click)="elimina()">Elimina un cliente</button><br />
<button (click)="trovaCliente()">Trova Cliente</button>

<h1>Lista Clienti</h1>
<ul>
  <li *ngFor="let cliente of clientiM">
    {{ cliente.idCliente }} - {{ cliente.nome }} - {{ cliente.cognome }}
  </li>
</ul>
